:root{
    /* variable declaration */
    --opacity:20%;
    --card_size:200px;
}
nav, nav * {
    transition: 0.3s;
}


body{
    height: 100%;
    background-color: #222831;
}

.box{
    background: #222831;
    width: 15%;
    aspect-ratio: auto 1 / 1;
    
    border-radius: 10%;
    color: #fff;
    flex-grow:0;
    flex-shrink: 0;
    text-align: center;
    
    

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.box::after{
    content:'';
    position:absolute;
    border-radius: 10%;
    height: 105%;
    width: 105%;

    background-image: linear-gradient(to bottom right, #008cff, #e100ff);
    z-index:-1;
}

.box:hover{
    background: #008cff;
    box-shadow: 40px 10px 10px #008cff85, -40px -10px 10px #e100ff85;
}

.container{
    width: 100%;
    height:5%;
    display: flex;
    flex-direction: row;
    position: absolute;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2%;
    gap: 2%;
}

.cards{
    position: absolute;
    width:var(--card_size);
    height:var(--card_size);
    top:calc(50% - var(--card_size)/2);
    left:calc(50% - var(--card_size)/2);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: spin 20s linear infinite;
}
@keyframes spin{
    from{
        transform: perspective(1000px) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.cards .card{
    position:absolute;

    transform: 
        rotateY(calc((var(--position) - 1)*(360 / var(--card_quantity))*1deg))
        translateZ(var(--card_size));

}

.cards .card img{
    width:100%;
}